@{
    ViewBag.Title = "海基,小分子面膜褐藻醣膠,膠原蛋白,保濕面膜,術後面膜 - 使用見證";
}

<style>
    .indexmain {
        height: 100%;
        background: url(/content/Base/Images/people_bg.png) no-repeat 0 0;
        color: #FFF;
        overflow: hidden;
        font-family: 細明體;
    }
    #peoples {
        margin: 26px auto; width: 850px; height: 570px;
        position: relative;
    }

    #peoples div {
        float: left;
        border: 1px solid #FFF;
        background-image: url(/content/Base/Images/pi.png);
        background-repeat: no-repeat;
        position: absolute;
        cursor: pointer;
    }
    #peoples div:hover {
        border: 1px solid #325b9b;
    }
    #peoples div a {
        display: block;
        height: 100%;
        width: 100%;
    }

    #pi_1 {
        background-position: 0px 0px;
        width: 345px;
        height: 136px;
        top:0px;
        left: 0px;
    }

    #pi_2 {
        background-position: 0px -425px; width: 225px; height: 136px;
        top: 0px;
        left: 347px;
    }

    #pi_3 {
        background-position: 0 -566px; width: 278px; height: 267px;
        top: 0px;
        left: 574px;
    }

    #pi_4 {
        background-position: 0 -838px; width: 297px; height: 292px;
        top: 138px;
        left: 0px;
    }

    #pi_5 {
        background-position: 0 -1135px; width: 128px; height: 292px;
        top: 138px;
        left: 299px;
    }

    #pi_6 {
        background-position: 0 -1432px; width: 144px; height: 292px;
        top: 138px;
        left: 429px;
    }

    #pi_7 {
        background-position: 0 -1729px; width: 278px; height: 161px;
        top: 269px;
        left: 574px;
    }

    #pi_8 {
        background-position: 0 -1895px; width: 117px; height: 137px;
        top: 432px;
        left:0px;
    }

    #pi_9 {
        background-position: -405px 0; width: 144px; height: 137px;
        top: 432px;
        left: 119px;
    }

    #pi_10 {
        background-position: 0 -141px; width: 186px; height: 137px;
        top: 432px;
        left: 265px;
    }

    #pi_11 {
        background-position: 0 -283px; width: 399px; height: 137px;
        top: 432px;
        left: 453px;
    }
</style>

<div class="indexmain">
    <div id="peoples">
        <div id="pi_1"><a href="" target="_blank"></a></div>
        <div id="pi_2"><a href="" target="_blank"></a></div>
        <div id="pi_3"><a href="" target="_blank"></a></div>
        <div id="pi_4"><a href="" target="_blank"></a></div>
        <div id="pi_5"><a href="" target="_blank"></a></div>
        <div id="pi_6"><a href="" target="_blank"></a></div>
        <div id="pi_7"><a href="http://tw.myblog.yahoo.com/fafa710117/article?mid=60811&prev=60865&next=60784&l=a&fid=9" target="_blank"></a></div>
        <div id="pi_8"><a href="http://www.fashionguide.com.tw/Beauty/08/resMsgL.asp?LinkTo=TopicL&TopicNum=10870&Cmd=&CmdNum=0&Cmd2=&Cmd2Num=0&Absolute=1&ItemNum=1&FromPost=t#Item" target="_blank"></a></div>
        <div id="pi_9"><a href="http://www.fashionguide.com.tw/Beauty/08/resMsgL.asp?LinkTo=TopicL&TopicNum=10870&Cmd=&CmdNum=0&Cmd2=&Cmd2Num=0&Absolute=1&ItemNum=1&FromPost=t#Item" target="_blank"></a></div>
        <div id="pi_10"><a href="http://www.fashionguide.com.tw/Beauty/08/resMsgL.asp?LinkTo=TopicL&TopicNum=10870&Cmd=&CmdNum=0&Cmd2=&Cmd2Num=0&Absolute=1&ItemNum=1&FromPost=t#Item" target="_blank"></a></div>
        <div id="pi_11"><a href="" target="_blank"></a></div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("header").addClass("Base_menubar5");
    });
</script>
