@{
    ViewBag.Title = "海基,小分子面膜褐藻醣膠 - 關於海基";
}

<style>
    .indexmain {
        height: 100%;
        background: url(/content/Base/Images/about_bg.jpg) no-repeat 0 0;
        color: #FFF;
        overflow: hidden;
        line-height: 22px;
    }
</style>

<div class="indexmain">
    <div style="font-family: 細明體;margin: 255px 0 0 24px;float: left;width: 490px;">
        源於1977年，成立之初即是專業醫療儀器以及生物科技產品的優質貿易代理商，深耕於相關產業，有很好的口碑。<br/><br/>
        海基有幸在2010年接觸到全新的海洋美容素材-褐藻醣膠(Oligo Fucoidan)，褐藻醣膠近年來在國際學刊興起一股抗老熱潮，已成為歐、美、日許多頂級保養品當中，最關鍵的主打成分，海基歷時2年的合作研發，成功和行政院經濟部農委會水試所、Hi-Q共同發展出可提升外來膠原蛋白40%吸收率的關鍵之鑰，獨步全球的小分子褐藻醣膠(500 DA以下)更易於肌膚吸收，成為海基跨足醫學保養美容業的新興里程。
    </div>
    <div style="font-family: 細明體;margin: 130px 0 0 772px;float: left;width: 178px;">海基‧台北辦事處大樓外觀</div>
</div>
<script type="text/javascript">
    $(function () {
        $("header").addClass("Base_menubar2");
    });
</script>