@{
    ViewBag.Title = "海基";
}
<style>
    .indexmain {
        height: 100%;
        background: url(/content/Base/Images/indexmain.png) no-repeat 0 0;
    }
</style>

<div class="indexmain"></div>
<script type="text/javascript">
    $(function () {
        $("header").addClass("Base_menubar1");
    });
</script>
